*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* utilities */

.container{
  width: 70%;
  height: 100px;
  margin: 0 auto;
  background-color: gray;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.container .image{
  float: left;
  width: 50%;
  height: 30px;
  background-color: red;
}

.container .text{
  float: left;
  width: 50%;
  height: 30px;
  background-color: rgb(36, 7, 82);
}